<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>我的第一個網站</title>
    <style>
        img {
            max-width: 30%; /* 最大寬度為父元素的n% */
            max-height: auto; /* 最大高度自動調整，保持圖片比例 */
        }
    </style>
</head>
<body>
    <h3>我曾經的某任愛駒 CBR150R</h3>
    <a href="/page">連結到page</a>
    <hr/>
    <form action="/calculate">
        計算等差級數之合
        <br/>
        最小值<input type="text" name="min" />
        <br/>
        最大值<input type="text" name="max" />
        <br/>
        <button>計算結果</button>
    </form>

    <hr/>
    <form action="/showName">
        姓名<input type="text" name="n">
        <button>點擊送出表單</button>
    </form>
    <br/>
    <a href="/jsonDumps">連結到jsonDumps</a>
    <br/>
    <img src="/static/honda cbr150r.jpg" />

</body>
</html>